.practInfoSection {
  width: 30em;
  padding: 2em;
  padding-top: 1em;
  border: 1px solid rgba(255, 255, 255, 0.87);
  border-radius: 10px;
}

.hdr {
  font-size: 20px;
  margin-bottom: 0.5em;
  text-decoration: underline;
}

.practInfoSection form {
  display: flex;
  flex-direction: column;
}

.practInfoSection input {
  margin-bottom: 10px;
  padding: 0.2em;
}

.submitBtn {
  width: fit-content;
  margin-left: auto;
  margin-top: 0.6em;
  font-size: 16px;
  padding: 0.2em 0.4em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.practInfoSection textarea {
  margin-bottom: 10px;
}

.jobList {
  display: flex;
  margin-bottom: 0.9em;
  justify-content: space-between;
}

.editBtn,
.deleteBtn {
  font-size: 16px;
  padding: 0.2em 0.4em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.deleteBtn {
  margin-left: 0.5em;
}
